<div id="centre">
  <a href="/workers/sign_in" type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-wrench"></span> Login/Signup Worker
  </a>

  <a href="/customers/sign_in"  type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-shopping-cart"></span> Login/Signup Customer
  </a>
</div>