<table class="table table-striped skills-table">
  <tbody>
  <% @skills.each do |skill| %>
  <tr data-link="<%= skill.name %>">
    <td><%= skill.name %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= paginate @skills, :remote => true  %>
